/* General layout options */

html, body, h1, h2, h3, p, ul, li, a {
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

  /** Make 1st and 2nd boxes take up half the width each */
.wrapper > ul > li:nth-of-type(1),
.wrapper > ul > li:nth-of-type(2)
{
  float: left;
  list-style-type: none;
  padding: 1% 1% 0% 1%;
  width: 48%;
}

body {
  background-color: #FFFFFF;
  background: linear-gradient(to bottom, #FFE4F3, #FFFFFF);
}

h3 {
  font-family: Tahoma, Arial, sans-serif;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 1%;
  padding: 1% 0 1% 0;
  text-align: center;
}

a  {
  text-decoration: none;
  color: #1235DC;
}

/* Header section */

header {
  background-color: #1235DC;
  background: linear-gradient(to right, #1235DC, #4664F0);
  box-shadow: 0px 0px 10px #000000;
  color: #FFFFFF;
  padding: 1% 0% 1% 0%;
  object-fit: contain;
}

header table {
  margin: auto;
}

header img {
  border-radius: 50%;
  box-shadow: 0px 0px 10px #FFFFFF;
  margin: 0% 15% 0% 15%;
  max-height: 12%;
}

header h1 {
  font-size: 450%;
  font-weight: bold;
  letter-spacing: 5px;
}

header h2 {
  font-size: 250%;
}

/* Summary box */

.summary {
  background-color: #FFFFFF;
  background: linear-gradient(to bottom, #C8D0FB, #FFFFFF);
  box-shadow: 0px 0px 10px #000000;
  font-size: 115%;
  padding: 3%;
  text-align: justify;
}

.summary div {
  padding-bottom: 3%;
}

.skills li{
  display: inline;
  padding-left: 5%;
  font-family: "Courier New", sans-serif;
}

.skills ul{
  text-align: center;
  padding-top: 2%;
}

/* Training box */

.training {
  background-color: #FFFFFF;
  background: linear-gradient(to bottom, #C8D0FB, #FFFFFF);
  box-shadow: 0px 0px 10px #000000;
  font-size: 115%;
  padding: 3%;
  text-align: justify;
}

.training div {
  padding-bottom: 3%;
}

/* Questions box */

.questions {
  background-color: #FFFFFF;
  background: linear-gradient(to bottom, #C8D0FB, #FFFFFF);
  box-shadow: 0px 0px 10px #000000;
  font-size: 115%;
  margin: 1%;
  padding: 3%;
  text-align: justify;
}

.questions li {
  font-weight: bold;
}

.questions p {
  font-style: italic;
  padding-bottom: 1%;
}

.questions div {
  padding-bottom: 5%;
}
